@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @*<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>*@
        <h3 class="row-nav-text">
            CULTURE A WEAR <span class="row-nav-text-spacer">|l|</span>
        </h3>
        <p class="row-nav-text row-nav-sub-text">
            &nbsp;wear it to get pop culture aware
        </p>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
